[tool.isort]
profile = "black"

[tool.black]
skip-string-normalization = true
line-length = 88  # Specify the line length
target-version = ['py37']  # Specify your Python version
include = '\.pyi?$'
exclude = '''  # Specify the files/dirs that should be ignored by the black formatter
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.7.0"
tag_format = "$major.$minor.$patch$prerelease"
version_files = [
    "pyproject.toml:version",
    "generator/__init__.py",
]
